$darkgray: #888;
$lightgray: #aaa;
$blue: #527aff;
$red: #f95757;
$green: #20df8f;
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
$largeShadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18), 0 3px 6px 0 rgba(0, 0, 0, 0.12);

@mixin noselect() {
	// disable text highlighting in button
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

* {
	font-family: 'Grantipo Beta 001', sans-serif;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;

	font-size: 16px;
	padding: 0;

	i {
		transform: translateY(6px);
		cursor: pointer;

		&.green {
			color: $green;
		}
	}

	button {
		border: none;
		background: none;
		font-size: 1.125rem;
		padding: 0 0.25rem 0 0.25rem;
		margin: 0.25rem 0.25rem 0.25rem 0.25rem;

		&.normal {
			height: 2.25rem;
			padding: 0 1rem 0 1rem;

			background-color: $blue;
			color: #fff;
			border-color: none;
			border-radius: 4px;
			box-shadow: $shadow;

			&:hover {
				box-shadow: $largeShadow;
			}

			&.disabled {
				&:hover {
					box-shadow: $shadow;
				}
				background-color: $lightgray;
			}

			transition: all 0.2s;
		}

		&.small {
			color: $blue;
			height: 1.5rem;
			font-size: 90%;
			margin: 0.625rem 0.5rem 0.625rem 0.5rem;

			&.disabled {
				color: $darkgray;
			}
		}

		&.right {
			margin-left: auto;
		}
	}

	input {
		display: block;
		border: none;
		border-style: solid;
		border-radius: 4px;
		border-color: $darkgray;
		font-size: 1.125rem;
		margin: 0.25rem 0.25rem 0.25rem 0.25rem;
		padding: 0 0.5rem 0 0.5rem;

		&.center {
			text-align: center;
		}

		&.full-width {
			width: calc(100% - 0.5rem);
		}

		&:focus {
			border-color: $blue;
		}

		height: 2.25rem;
	}

	// question text
	h1 {
		font-weight: bold;
		font-size: 3rem;
	}

	// title
	h2 {
		font-weight: bold;
		font-size: 2.25rem;
		color: $blue;

		&.top-left-absolute {
			position: absolute;
			left: 4rem;
			top: 6rem;
		}

		&.before-button {
			margin-right: 2rem;
		}
	}

	h3 {
		font-weight: bold;
		font-size: 1.5rem;
		margin: 0;
		margin-bottom: 0.5rem;
	}

	// small text (errors, etc.)
	h5 {
		font-size: 80%;
		font-weight: 400;
		margin: 0.25rem 0 0.25rem 0;

		&.error {
			color: $red;
		}
	}

	.sk-folding-cube {
		margin: 20px auto;
		width: 40px;
		height: 40px;
		position: relative;
		-webkit-transform: rotateZ(45deg);
		transform: rotateZ(45deg);
	}

	.sk-folding-cube .sk-cube {
		float: left;
		width: 50%;
		height: 50%;
		position: relative;
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
	.sk-folding-cube .sk-cube:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $blue;
		-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
		animation: sk-foldCubeAngle 2.4s infinite linear both;
		-webkit-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		transform-origin: 100% 100%;
	}
	.sk-folding-cube .sk-cube2 {
		-webkit-transform: scale(1.1) rotateZ(90deg);
		transform: scale(1.1) rotateZ(90deg);
	}
	.sk-folding-cube .sk-cube3 {
		-webkit-transform: scale(1.1) rotateZ(180deg);
		transform: scale(1.1) rotateZ(180deg);
	}
	.sk-folding-cube .sk-cube4 {
		-webkit-transform: scale(1.1) rotateZ(270deg);
		transform: scale(1.1) rotateZ(270deg);
	}
	.sk-folding-cube .sk-cube2:before {
		-webkit-animation-delay: 0.3s;
		animation-delay: 0.3s;
	}
	.sk-folding-cube .sk-cube3:before {
		-webkit-animation-delay: 0.6s;
		animation-delay: 0.6s;
	}
	.sk-folding-cube .sk-cube4:before {
		-webkit-animation-delay: 0.9s;
		animation-delay: 0.9s;
	}
	@-webkit-keyframes sk-foldCubeAngle {
		0%,
		10% {
			-webkit-transform: perspective(140px) rotateX(-180deg);
			transform: perspective(140px) rotateX(-180deg);
			opacity: 0;
		}
		25%,
		75% {
			-webkit-transform: perspective(140px) rotateX(0deg);
			transform: perspective(140px) rotateX(0deg);
			opacity: 1;
		}
		90%,
		100% {
			-webkit-transform: perspective(140px) rotateY(180deg);
			transform: perspective(140px) rotateY(180deg);
			opacity: 0;
		}
	}

	@keyframes sk-foldCubeAngle {
		0%,
		10% {
			-webkit-transform: perspective(140px) rotateX(-180deg);
			transform: perspective(140px) rotateX(-180deg);
			opacity: 0;
		}
		25%,
		75% {
			-webkit-transform: perspective(140px) rotateX(0deg);
			transform: perspective(140px) rotateX(0deg);
			opacity: 1;
		}
		90%,
		100% {
			-webkit-transform: perspective(140px) rotateY(180deg);
			transform: perspective(140px) rotateY(180deg);
			opacity: 0;
		}
	}

	.clickable {
		cursor: pointer;

		&:hover {
			box-shadow: $largeShadow;
		}

		transition: all 0.2s;
	}

	.selected {
		color: white;
		background-color: $blue;
	}

	.choice {
		box-shadow: $shadow;
		border-radius: 4px;
		padding: 1rem;
		margin: 1rem;

		&.correct {
			background-color: $green;
			color: black;
		}

		&.incorrect {
			background-color: $red;
		}

		transition: background-color 0.2s;
	}

	.content {
		height: 100%;
		width: 100%;
		padding: 6rem 4rem 2rem 4rem;

		table {
			margin-top: 1rem;
			font-size: 1.125rem;
			width: 100%;

			tr.class-item {
				cursor: pointer;

				&:hover {
					color: $blue;
				}

				&.highlight {
					color: $blue;
				}

				transition: color 0.2s;
			}
		}
	}

	.v-center-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}
