* {
  font-family: "Grantipo Beta 001", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 16px;
  padding: 0;
}
html i,
body i {
  transform: translateY(6px);
  cursor: pointer;
}
html i.green,
body i.green {
  color: #20df8f;
}
html button,
body button {
  border: none;
  background: none;
  font-size: 1.125rem;
  padding: 0 0.25rem 0 0.25rem;
  margin: 0.25rem 0.25rem 0.25rem 0.25rem;
}
html button.normal,
body button.normal {
  height: 2.25rem;
  padding: 0 1rem 0 1rem;
  background-color: #527aff;
  color: #fff;
  border-color: none;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  transition: all 0.2s;
}
html button.normal:hover,
body button.normal:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
}
html button.normal.disabled,
body button.normal.disabled {
  background-color: #aaa;
}
html button.normal.disabled:hover,
body button.normal.disabled:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
html button.small,
body button.small {
  color: #527aff;
  height: 1.5rem;
  font-size: 90%;
  margin: 0.625rem 0.5rem 0.625rem 0.5rem;
}
html button.small.disabled,
body button.small.disabled {
  color: #888;
}
html button.right,
body button.right {
  margin-left: auto;
}
html button.red,
body button.red {
  background-color: #f95757;
}
html input,
body input {
  display: block;
  border: none;
  border-style: solid;
  border-radius: 4px;
  border-color: #888;
  font-size: 1.125rem;
  margin: 0.25rem 0.25rem 0.25rem 0.25rem;
  padding: 0 0.5rem 0 0.5rem;
  height: 2.25rem;
}
html input.center,
body input.center {
  text-align: center;
}
html input:focus,
body input:focus {
  border-color: #527aff;
}
html h1,
body h1 {
  font-weight: bold;
  font-size: 3rem;
}
html h2,
body h2 {
  font-weight: bold;
  font-size: 2.25rem;
  color: #527aff;
}
html h2.top-left-absolute,
body h2.top-left-absolute {
  position: absolute;
  left: 4rem;
  top: 6rem;
}
html h2.before-button,
body h2.before-button {
  margin-right: 2rem;
}
html h3,
body h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 0.5rem;
}
html h3.before-button,
body h3.before-button {
  margin-right: 1rem;
  margin-top: 0.5rem;
}
html h5,
body h5 {
  font-size: 80%;
  font-weight: 400;
  margin: 0.25rem 0 0.25rem 0;
}
html h5.error,
body h5.error {
  color: #f95757;
}
html .sk-folding-cube,
body .sk-folding-cube {
  margin: 20px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
html .sk-folding-cube .sk-cube,
body .sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
html .sk-folding-cube .sk-cube:before,
body .sk-folding-cube .sk-cube:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #527aff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
  animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
html .sk-folding-cube .sk-cube2,
body .sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
  transform: scale(1.1) rotateZ(90deg);
}
html .sk-folding-cube .sk-cube3,
body .sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
  transform: scale(1.1) rotateZ(180deg);
}
html .sk-folding-cube .sk-cube4,
body .sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
  transform: scale(1.1) rotateZ(270deg);
}
html .sk-folding-cube .sk-cube2:before,
body .sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
html .sk-folding-cube .sk-cube3:before,
body .sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
html .sk-folding-cube .sk-cube4:before,
body .sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}
html .row,
body .row {
  margin: 0;
}
html .loading-bar,
body .loading-bar {
  position: absolute;
  height: 0.5rem;
  left: 0;
  right: 0;
  top: 0;
  opacity: 1;
  animation: rainbow 2s linear;
  animation-iteration-count: infinite;
  transition: all 0.2s;
}
html .loading-bar.hide,
body .loading-bar.hide {
  opacity: 0;
}
@keyframes rainbow {
  0% {
    background-color: #527aff;
  }
  25% {
    background-color: #f95757;
  }
  50% {
    background-color: #20df8f;
  }
  75% {
    background-color: #33aa33;
  }
  100% {
    background-color: #527aff;
  }
}
html .full-width,
body .full-width {
  width: calc(100% - 0.5rem);
}
html .clickable,
body .clickable {
  cursor: pointer;
  transition: all 0.2s;
}
html .clickable:hover,
body .clickable:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.18), 0 3px 6px 0 rgba(0, 0, 0, 0.12);
}
html .selected,
body .selected {
  color: white;
  background-color: #527aff;
}
html .choice-edit,
body .choice-edit {
  display: inline;
  width: calc(100% - 4rem);
}
html .choice,
body .choice {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;
  transition: background-color 0.2s;
}
html .choice.correct,
body .choice.correct {
  background-color: #20df8f;
  color: black;
}
html .choice.incorrect,
body .choice.incorrect {
  background-color: #f95757;
}
html .content,
body .content {
  height: 100%;
  width: 100%;
  padding: 6rem 4rem 2rem 4rem;
}
html .content table,
body .content table {
  margin-top: 1rem;
  font-size: 1.125rem;
  width: 100%;
}
html .content table tr.class-item,
body .content table tr.class-item {
  cursor: pointer;
  transition: color 0.2s;
}
html .content table tr.class-item:hover,
body .content table tr.class-item:hover {
  color: #527aff;
}
html .content table tr.class-item.highlight,
body .content table tr.class-item.highlight {
  color: #527aff;
}
html .v-center-content,
body .v-center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
